h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2{
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
}

h3{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;

}

h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}




#group{
    display: inline-block;
    border:10px solid white;
}

table ,th, td{
border:1px solid black;
border-collapse: collapse;
margin:30px auto;
height: 50px;
}

.navegacao li{
    display:inline;
    
}

.navli{
    background-color:#245;
    
}


.navegacao li a{
 padding:150px;
 color:white;
    
}


.fatosli li{
    font-size: 18px;
    line-height:30px;
}

.fatosp p{
    text-align: center;
    font-size: 18px;
}

.footer h6{
    background-color: black;
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:98em;


}
 
 
.ataque {
    padding:30px 70px;
    background-color:#245;
    min-height:350px;
}
.ataque img{
    float:right;
    width: 48%;
    max-width:350px;

}
.ataque p{
    float:left;
    width: 48%;
    margin-bottom: 25px;
    color:white;

}

   .vida{
       padding:30px 70px;
       background-color:gray;
       min-height:350px;
   }
   .vida img{
       float:right;
       width: 48%;
       max-width:350px;
   
   }
   .vida p{
       float:left;
       width: 48%;
       margin-bottom: 25px;
       color:white;
   
   }
   .caracteristicas{
    padding:30px 70px;
    background-color:#245;
    min-height:350px;
}
.caracteristicas img{
    float:right;
    width: 48%;
    max-width:350px;

}
.caracteristicas p{
    float:left;
    width: 48%;
    margin-bottom: 25px;
    color:white;

}

.aside a{
    background-color: #245;
    display:inline-block;
    border:1px solid #245;
    margin-top:-200em;
    margin-left:1000px;
    margin-top:-50em;
    font-size: 30px;
    color:white;
    width: 150px;
    padding:30px;
}
.aside {
    margin-top:-110em;  
    text-align: center; 
    
}


